.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formControlSubmitError {
    min-width: 150px;
    max-width: 225px;
    border: solid red 2px;
    color: red;
}